@{
    ViewBag.Title = "News";
}
<h1>@ViewBag.Title</h1>
<h2>@ViewBag.Message</h2>
<div>
    <p>
        Check out the latest news of the Foundation from fantastic fundraising events to great fun at Coconut Club! If you want to stay up to date with the latest, we would love to add your name to our newsletter database. You can sign up via the Newsletter page following the link on the left menu and/or become a fan of the Foundation on Facebook.
    </p><p>
        Also, make sure you check our upcoming events page so you can 'save the date' for our next event and join in on the fun!
    </p>
    <div class="displayBack3">
        <h3>
            September 2016: A Night at the Opera
        </h3><p>
            On behalf of the students, teachers, and volunteers at Phuket Has Been Good To Us, we would like to thank everyone who attended A Night at the Opera on Saturday 17 September 2017. Thanks to your help, and that of our amazing supporters, we managed to raise an impressive 700,000 THB. These funds will ensure we can employ a qualified English Teacher and a Teacher’s Assistant for one year.
        </p><p>
            Check out our photos on Facebook, and be sure to tag and share with your friends!
        </p>
    </div>
    <h3>
        September 2016: Prestigious wine award for Baan Rim Pa
    </h3><p>
        Baan Rim Pa - who sponsors Baan Kalim School in Kalim, where Teacher Hamant teaches over a 120 students - won the prestigious "Best of Wine of Excellence - 2 glasses" award! Only 10 restaurants in Thailand received this reputable award!
    </p><p>
        Congratulations Baan Rim Pa on receiving this award again!
    </p>
    <div class="displayBack3">
        <h3>
            August 2016: MontAzure will be sponsoring a Teacher!
        </h3><p>
            We are pleased to share with you that MontAzure has decided to sponsor one of our teachers for a year! After much deliberation, they have decided to sponsor the English Programme at Kamala Child Development Centre (KCDC) where Bella teaches English to over 120 students aged 3-6 years old. This is Teacher Bella's second year with the Foundation and teaching kindergarten at KCDC and she has been doing an amazing job!
        </p><p>
            Thank you MontAzure for your generous sponsorship, your support goes a long way in improving the opportunities for these children!
        </p>
    </div>
    <h3>
        August 2016: Blog by Aiya
    </h3><p>
        Over the years we have been lucky to have great people supporting our Foundation. One of them has been 13-year-old Ayia. She has been joining in coconut club activities, but also raised money for us. Read all about the great work she has done for the Foundation on our blog.
    </p>
    <div class="displayBack3">
        <h3>
            July 2016: Birthday party for our Residential Students
        </h3><p>
            On the 9th of July, our teachers and friends of the Foundation set off to Bliss Beach Club to celebrate the birthdays of May-July celebrants. The day was filled with pizza making, face painting, swimming, beach games and more. A great way to celebrate the children's birthday in style! The children had great fun! We ended the day with birthday cake and gifts and off course a big group photo!
        </p><p>
            We would like to thank our sponsors - especially Bliss Beach Club and Exotic Voyage, Thailand - and everyone who helped the children celebrate their birthday and make the day so special!
        </p><p>
            Check our photo album on Facebook to see how much fun everyone had!
        </p>
    </div>
    <h3>
        July 2016: New Teachers
    </h3><p>
        Have you met all of our teachers already? For the month of July, we will introduce all our Teachers on our Facebook page. Head over and get to know them now!
    </p>
    <div class="displayBack3">
        <h3>
            June 2016: Fundraising by the Wong Family
        </h3><p>
            There are plenty of ways to help out our Organization. By fundraising for our Foundation, you will make a difference to the lives of underprivileged children living in Phuket. And that was something the children of Jenny Wong must have realised when they came to visit from Singapore. They decided to bake delicious cupcakes and sell them at the Boat Avenue market, with all proceeds going to our Foundation.
        </p><p>
            Thank you so much Wong family for taking your time to support our Foundation – it is truly appreciated!
        </p>
    </div>
    <h3>
        June 2016: Promotional videos by Weber University
    </h3><p>
        Have you seen our new promotional videos already? Weber University students created several videos including sponsor a child, coconut club, sponsor a teacher and a general movie about our organisation. Check out our YouTube channel to see all videos!
    </p>
    <div class="displayBack3">
        <h3>
            June 2016: Negroni week at Kata Rocks
        </h3><p>
            Kata Rocks joined in the 4th annual Negroni week. During this week Negroni not only celebrates the classic cocktail, but also raises money for charitable causes around the world. This year the team behind The Bar at Kata Rocks selected Phuket Has Been Good To Us as their charity of choice, donating a part from every Negroni sold. Thank you so much, Kata Rocks, for your continued support!
        </p>
    </div>
    <h3>
        May 2016: Back to School
    </h3><p>
        We’re back to school, and the best way to start a new year is by doing introduction classes for our students. They did this by doing activities targeting 3 essential skills they need to survive for their English classes – speaking, listening and helping others. This was a great way for the students to get to know our new teachers, and for our teachers, so they can have a feel about the students learning style and language levels.
    </p>
    <div class="displayBack3">
        <h3>
            May 2016: Training by Weber University
        </h3><p>
            On their recent visit, Weber University's David Byrd and Deedee Mower gave a training to our Teachers. In this training, David shared the stages of writing and how our teachers could get the students writing. This has been very helpful for preparing our classes for the upper prathom and mathayom levels. Deedee shared different strategies in teaching phonics, and how to teach reading through speaking.
        </p><p>
            Thank you, Deedee & David, for spending your day with our teachers!
        </p>
    </div>
    <h3>
        May 2016: Pop Up at Bliss 2016
    </h3><p>
        The second edition of Pop Up at Bliss was another huge success. It was a fabulous evening with delicious food by the 11 chefs, lovely drinks, and great company. Over 250 people showed up to support the Foundation. We raised 1,000,000 Baht which will pay two qualified English language teachers for a year!
    </p>
    <div class="displayBack3">
        <h3>
            April 2016: Going The Extra Mile Round Up
        </h3><p>
            Teacher Hamant returned safe and sound from his 'Going The Extra Mile' Trip. He has had a very interesting ride on the road, making stops in Uttaradit, Loei, Chiang Mai, Mae Hong Son and many more.
        </p><p>
            With this amazing trip Teacher Hamant was able to raise approximately 85,000THB for the Foundation. Thank you Hamant - you know we'll be using the money wisely!
        </p>
    </div>
    <h3>
        April 2016: Farewell and welcome to teachers
    </h3><p>
        With the end of the school year we, unfortunately, had to say goodbye to Teacher Meghan and Teacher Hossain who are returning home or pursuing other dreams.
    </p><p>
        Fortunately, we still have a great group of teachers staying with the foundation. So we're sure that the amazing work that has been happening here will be continued in the coming school year!
    </p>
    <div class="displayBack3">
        <h3>
            March 2016: Donation by Phuket Condos & Homes
        </h3><p>
            Phuket Condos & Homes, in partnership with Blue Horizon Developments, have donated over 320,000thb from the successful sales of Best Western Himalai Oceanfront Condominiums. We really can’t thank them enough; already annual sponsors of Teacher Meg at Kamala School, we look forward to working with them in 2016 and beyond to change the lives of children in Phuket.
        </p>
    </div>
    <h3>
        March 2016: Wishlist
    </h3><p>
        While we're getting to the end of this year's term, we're getting ready for our next school term already. For the new term we're in need of the following items:
    </p><p>
        - A5 lined exercise books for the students
        - Plastic folders to hold students’ work
        - Children’s safety scissors
        - Rulers (shatterproof)
        - Vinyl erasers
    </p><p>
        Contact us at info@phukethasbeengoodtous.org if you're able to contribute.
    </p>
    <div class="displayBack3">
        <h3>
            February 2016: Birthday party at Bliss Beach Club
        </h3><p>
            Pizza making, presents, a birthday cake and beach fun - what more can you ask for at a party? On 27 February, we had a birthday party for 25 of our residential students at Bliss Beach Club. The children had great fun! We ended the day with birthday cake and gifts.
        </p><p>
            We would like to thank our sponsors - especially Bliss Beach Club and Exotic Voyage, Thailand - and everyone who helped to make the day so special!
        </p>
    </div>
    <h3>
        February 2016: Teacher Hamant is going the extra mile for our Foundation
    </h3><p>
        In April, Teacher Hamant will be going the extra mile by driving along the border of Thailand - about 5,000km - to raise awareness for Phuket Has Been Good To Us. By doing so he aims to raise 500,000THB for our Foundation.
    </p><p>
        Interested in following his trip? Or maybe even donating  money? Check out his Facebook page for more information!
    </p>
    <div class="displayBack3">
        <h3>
            February 2016: Project with Weber University
        </h3><p>
            For the past months, we have been working with Weber University to redesign our website and make us a new promotional video. This month a group of 15 students and teachers joined us to work on this project and at the same time join in some fun Coconut Club activities.
        </p><p>
            We look forward to seeing the final result soon! We'll keep you posted.
        </p>
    </div>
    <h3>
        February 2016: Beware for man collecting money for the Foundation
    </h3><p>
        In the Patong, Laguna and Kamala area a man has been approaching tourists and restaurants saying that he is collecting money for Phuket Has Been Good To Us. Please be informed that this man does not work for us, we never solicit donations in this way.
        He is Thai, wearing a white or blue shirt with 'staff' written on it. He also has one of our brochures and a lanyard around his neck as ID, below is a photo of him so you all know who to look out for.
    </p><p>
        If anybody sees him asking for donations, please call Tina on 0801439554 and let her know where you've seen him, so we can contact the police.
    </p>
    <div class="displayBack3">
        <h3>
            January 2016: Promotion by Angsana Laguna Phuket
        </h3><p>
            We are delighted that Angsana Laguna Phuket and Global Village Deals have set up a promotion for Friends of the Foundation to save 50% on Sunday Brunch at Xana Beach Club With Attica whilst donating 200THB to PHBGTU. [Promotion was valid until end of January 2016]
        </p>
    </div>
    <h3>
        January 2016: Openings at the Foundation
    </h3><p>
        We are looking for qualified and energetic professionals for the following positions:
        - English Teacher
        - Teaching Fellow
        - Office Fellow
    </p><p>
        For more information, the job description and how to apply, visit our ‘Openings’ page.
    </p>
</div>