@{
    ViewBag.Title = "Upcoming Event";
}
<header id="eventHeader" class="image-bg-fluid-height bgimage container img-responsive "></header>
<div class="row">
    <div class="col-sm-12 col-md-4">
        <h2>@ViewBag.Title!</h2>
    </div>
    <div class="col-sm-12 col-md-8">
        <h3>@ViewBag.Message</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Time for Bliss</h2>
        <p>
            Save the date for our third edition of Pop Up At Bliss on Saturday 6th of May, 2017.
        </p>
        <p>
            After the successful 2015 and 2016 editions of Pop Up at Bliss, we’re back for the third year running! Like previous years the island’s hottest restaurants will be popping up at bliss offering you a wide range of delicacies throughout the evening.

            Make sure to follow this page and our Facebook Events Page, and join us on the 6th of May - the foodie in you will thank you for it!

        </p><p>
            *** All proceeds from this event will go to Phuket Has Been Good To Us; a Thai registered charity established in the aftermath of the 2004 Asian tsunami. The money raised will enable Phuket Has Been Good To Us to continue to fund their much needed English education programme that provides free English lessons to more than 1,100 underprivileged Thai children, aged 3-18, in three government schools in Phuket.
        </p>
        <p><a class="btn btn-warning" href="http://go.microsoft.com/fwlink/?LinkId=301865">Past Events &raquo;</a></p>
    </div>
    @*<div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>*@
</div>

@*<address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>*@
