@{
    ViewBag.Title = "Home Page";
}

<head>
    @*<link rel="stylesheet"
        href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">*@
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script>
        jQuery(document).ready(function () {

            jQuery('.carousel[data-type="multi"] .item').each(function () {
                var next = jQuery(this).next();
                if (!next.length) {
                    next = jQuery(this).siblings(':first');
                }
                next.children(':first-child').clone().appendTo(jQuery(this));

                for (var i = 0; i < 2; i++) {
                    next = next.next();
                    if (!next.length) {
                        next = jQuery(this).siblings(':first');
                    }
                    next.children(':first-child').clone().appendTo($(this));
                }
            });

        });
    </script>
</head>

@*<header class="">
        <img class="" src="~/Images/Header.PNG" />
        <img class="img-responsive img-center" src="~/Images/PhuketLogo.png" alt="headerBackground">
    </header>*@
<header id="mainHeader" class="image-bg-fluid-height bgimage container img-responsive">
    @*<img class="img-responsive" src="~/Images/Header.PNG" />*@
    @*<div>
            <div class="jumbotron modal-transparent">
                <h1>ASP.NET</h1>
                <div class="container">
                <div class="row">
                    <section class="col-sm-4"></section>
                    <section class="col-sm-4"><p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p></section>
                    <section class="col-sm-4">
                            <h3 class="image_message">Improving The Economic Oppertunities And Life Chances Of Young People</h3>
                    </section>
                    <section class="col-sm-4"></section>

                </div>

            </div>
            </div>
        </div>*@


</header>

<div class="row">
    <div class="col-lg-4 displayBack">
        <h2>Our Mission</h2>
        <p>
            Our Mission: Phuket Has Been Good To Us Foundation works to improve the economic
            opportunities and life chances of young people, by funding and implementing high
            quality, practical English language education in government schools on Phuket Island.
        </p><p><a class="btn btn-teal" href="http://go.microsoft.com/fwlink/?LinkId=301865">More &raquo;</a></p>
    </div>
    <div class="col-md-8">

        <p><a class="btn image-bg-fluid-height img-responsive bgimage" href="#"><img class="img-responsive pull-left" src="~/Images/EventMain.PNG" /></a></p>

        <h2>Events</h2>
        <p>
            After the successful 2015 and 2016 editions of Pop Up at Bliss, we’re back for the third year
            running! Like previous years the island’s hottest restaurants will be popping up at bliss
            offering you a wide range of delicacies throughout the evening.
        </p><p>
            Make sure to follow this page and our Facebook Events Page, and join us on the 6th of May -
            the foodie in you will thank you for it!
        </p><p>
            *** All proceeds from this event will go to Phuket Has Been Good To Us; a Thai registered
            charity established in the aftermath of the 2004 Asian tsunami. The money raised will enable
            Phuket Has Been Good To Us to continue to fund their much needed English education programme
            that provides free English lessons to more than 1,100 underprivileged Thai children, aged 3-18,
            in three government schools in Phuket.
        </p>
    </div>
</div>

<div class="row displayBack2">
    <div class="col-md-12">
        <div class="col-md-3">
            <h2>Donations</h2>
        </div>
        <div style="padding-top: 20px;" class="col-sm-1 col-md-2">
            <a class="btn btn-sm btn-teal" href="">Sponsor Child &raquo;</a>
        </div> <div style="padding-top: 20px;" class="col-sm-1 col-md-2">
            <a class="btn btn-sm btn-teal" href="">Sponsor Teacher &raquo;</a>
        </div> <div style="padding-top: 20px;" class="col-sm-1 col-md-2">
            <a class="btn btn-sm btn-teal" href="">Sponsor Class &raquo;</a>
        </div> <div style="padding-top: 20px;" class="col-sm-1 col-md-2">
            <a class="btn btn-sm btn-teal" href="">Become a Partner &raquo;</a>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-4">
        <h2>News</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-teal" href="http://go.microsoft.com/fwlink/?LinkId=301866">More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sponsors</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-teal" href="http://go.microsoft.com/fwlink/?LinkId=301867">More &raquo;</a></p>
    </div><div class="col-md-4">
        <h2>Coconut Club</h2>

        <p><a class="btn btn-teal" href="http://go.microsoft.com/fwlink/?LinkId=301865">More &raquo;</a></p>
    </div>
</div>

<div class="container">
    <h2>Gallery</h2>
    <!--The main div for carousel-->
    <div class="container text-center">
        <div class="carousel slide row" data-ride="carousel" data-type="multi" data-interval="2000" id="fruitscarousel">

            <div class="carousel-inner">
                <div class="item active">
                    <div class="col-md-3 col-sm-4 col-xs-12"><a href="#"><img src="~/Images/img1.PNG" class="img-responsive"></a></div>
                </div>
                <div class="item">
                    <div class="col-md-3 col-sm-4 col-xs-12"><a href="#"><img src="~/Images/img2.PNG" class="img-responsive"></a></div>
                </div>
                <div class="item">
                    <div class="col-md-3 col-sm-4 col-xs-12"><a href="#"><img src="~/Images/img3.PNG" class="img-responsive"></a></div>
                </div>
                <div class="item">
                    <div class="col-md-3 col-sm-4 col-xs-12"><a href="#"><img src="~/Images/img4.PNG" class="img-responsive"></a></div>
                </div>
                <div class="item">
                    <div class="col-md-3 col-sm-4 col-xs-12"><a href="#"><img src="~/Images/img5.PNG" class="img-responsive"></a></div>
                </div>
                <div class="item">
                    <div class="col-md-3 col-sm-4 col-xs-12"><a href="#"><img src="~/Images/img6.PNG" class="img-responsive"></a></div>
                </div>
            </div>

            <a class="left carousel-control" href="#fruitscarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
            <a class="right carousel-control" href="#fruitscarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>

        </div>
    </div>


</div>
